.menu {
	border: 1px dotted red;
	width: 300px;
	height: 180px;
	margin: 0;
	padding: 0;
	text-align: justify;

}
.text{
	top: -25px;
	position: relative;
	color: red;
	display: none;
}
.text1{
	top: -25px;
	position: relative;
	color: green;
	display: none;
}
.text2{
	top: -25px;
	position: relative;
	color: blue;
	display: none;
}

.info{
	position: relative;
	top: 10px;
	font-size: 14px;
	height: 120px;
	width: 297px;
}
.select1{
position: absolute;
}
.container{
	display: none;
	margin-top: -30px;
	position: absolute;
}
.menu_block{
background-color: red;
position: relative;
height: 23px;
top: -17px;
width: 294px;
padding: 3px;



}
.menu_block li{
	display: inline;
	list-style: none;
	position: relative;

}
.menu_block li a{
	margin-left: -2px;
	margin-right:10px ;
	padding: 6px 5px;
	top: 3px;
	position: relative;
	color: black;
	text-decoration: none;

}
.menu_block li a:active{
	background: white;
}
